#resWidgetTop {
background-image:url(/wp-content/themes/smokies/images/40p.png);	
}

#dpd1, #dpd2, div #availabilityform INPUT[type=text] {
padding:5px !important;	
line-height:35px !important;
}

form#availabilityform select  {
display:none !important;
}

div #home_content h3 {
	font-size:2.4em !important;	
}

#eat {
width:170px !important;	
}

#play {
width:140px !important;	
}

#stay {
width:140px !important;	
}

div .mcForm input[type=text] {
width:40% !important;	
}

div form#availabilityform select {
	display:block !important;
}

div #room_filters input[type=radio] {
	display:block !important;
	width:1px !important;
	height:1px !important;
	margin:0px !important;
	z-index:-999999;
	background-color:black;
	position:relative;
	top:-99999999px;
}

div #room_filters label {
position:relative;
top:-8px;	
}