body .buorg{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border-bottom: 5px solid #006fb8;
	background-color: #f2f2f2;
	color: #272F34;
}
body .buorg a{color: #006fb8;}
body .buorg div{padding: 15px 40px;}

body .buorg #buorgclose {font-size:24px;}