@media screen and (max-width:568px) {
.menu-trigger{display:block;
    	background: url(/wp-content/themes/smokies/images/hamandcheese.png)  no-repeat!important;
	width: 40px;
    	height: 40px;
    position:relative;
    top:5px;
  }
    
  #menu-mobile.menu > li a{
   text-decoration:none;

      font-size:1.2em;
      padding:15px 10px;
    border-top:1px solid #404C54;
          border-bottom:1px solid #1D2126;
font-weight:400;
      width:100%!important;
      display:block;
        color:#fff;
    }
    
  #jPanelMenu-menu{
     background:#272F34;

	box-shadow: inset 0 0 5px 5px #191D21
    }
    
#mobile-nav{
position:fixed;
  top:0px!important;
  background:url(/wp-content/themes/smokies/images/nav_bg.png); 
  height: 52px;
  width: 100%;
  border-bottom:1px solid #07609B;
  display:block;
   
  z-index:800;
}
  }

@media screen and (max-width:768px) {
.menu-trigger{display:block;
    	background: url(/wp-content/themes/smokies/images/hamandcheese.png)  no-repeat!important;
	width: 40px;
    	height: 40px;
    position:relative;
    top:5px;
  }
#mobile-nav{
position:fixed!important;
  top:0px!important;
  background:url(/wp-content/themes/smokies/images/nav_bg.png); 
  height: 52px;
  width: 100%;
  border-bottom:1px solid #07609B;
  display:block;
  z-index:800;
}  }

@media screen and (max-width:568px) {

#resResponsive {
	display: block!important;
	height: 70px!important;
	background-color: #FFF;
	border-bottom: 1px solid #D6D6D6;
	top: 50px!important;
	padding: 10px;
}

#resResponsive .span6 {
	width: 47.84%!important;
}

#resResponsive .col {
	margin-left: 1.5%!important;
}

.res_btn {
	background: #272F34;
	text-align: center;
	padding: 10px;
	font-weight: ;
	font-size: 1.5em;
}

.fixed {
	position: static!important;
}

.res_btn a {
	background: #272F34;
	color: #fff;
	text-decoration: none;
	text-align: center;
}



#header {
	background: transparent;
	height: 0px!important;
}

#logo, #logo.fixed {
	position: fixed!important;
	background: url("/wp-content/themes/smokies/images/fixed_logo.png") center center no-repeat;
	left: 0!important;
	right: 0!important;
	top: 3px!important;
	margin-left: auto!important;
	margin-right: auto!important;
	width: 178px;
	max-width: 227px!important;
	min-width: 227px!important;
	height: 44px!important;
	z-index: 200!important;
	display: none;
}

#ch {
	margin: 35px 0px;
}

#home_content	h1 {
	font-size: 1.9em!important;
}

#home_content	h3 {
	font-size: 1.7em!important;
}

#home_last_col h4 {
	font-size: 1.7em!important;
}

#home_content.span6 {
	width: 100%!important;
	padding: 0px;
}

#home_content {
	border: none;
}

#home_featured_special.span6 {
	width: 100%!important;
	padding: 0px;
}

#home_last_col img {
	width: 100%;
	height: auto;
	max-width: 300px;
}

#megaMenuToggle.megaMenuToggle span {
	display: none!important;
}

img.fb_pic {
	width: 30px;
	height: auto;
}

#gift_card.home span {
	font-size: 1.6em!important;
	padding-top: 20px;
}

#gift_card.home {
	font-size: 0.8em!important;
}

#megaMenuToggle.megaMenuToggle {
	background: url(/wp-content/themes/smokies/images/hamandcheese.png)  no-repeat!important;
	width: 40px;
	float: right;
	right: 0px;
	position: fixed;
	top: 5px;
}

#footer img {
	max-width: 200px!important;
}

#footer  #gift_card {
	margin: 0 auto;
	width: 130px;
}

.span9, .span3, .span6, #container, .span4 {
	width: 100%;
	margin: 0px;
}

#sidebar, {
	display: none;
}

#room_filters {
	margin: 0px!important;
	padding: 0px!important;
	left: 0px!important;
	background: transparent;
}

#room_filters .span1 {
	width: 100%;
}

#room_filters .span1 label,  #room_filters .span3 label {
	width: 100%!important;
	clear: both!important;
	display: block!important;
	margin: 1px 0px!important;
	padding: 15px!important;
}

#handicap.span1 label {
	width: 100%;
	background-color: #272F34!important;
	float: none!important;
	clear: both!important;
}

#handicap.span1.col {
	margin: 0px!important;
}

#container {
	padding: 0px;
	margin: 0px;
}

#rooms_container, .room_listing {
	width: 100%!important;
}

#nav {
	position: fixed;
	top: 0px!important;
	background: url(/wp-content/themes/smokies/images/nav_bg.png);
	padding: 0px!important;
	margin: 0px!important;
	width: 100%;
	border-bottom: 1px solid #07609B;
	display: none;
	z-index: 2;
}

#homeSlider {
	display: none;
}

#header.af {
	background: #17250E!important;
	color: #6B8F2E;
}

#weather,.slideTxt , #bread_crumbs,.esp,#sidebar,#signup_hub,.logo,#resForm, #header_socials {
	display: none!important;
}

#resWidgetTop, #resWidgetTop.fixed {
	position: static!important;
	background: transparent;
	z-index: 9!important;
  display:none;
}

#resWidgetTop .span2,#resWidgetTop .span1 {
	display: block;
	clear: both;
	float: none;
	margin: 0 auto;
	width: 100%!important;
}

#resWidgetTop label,#book {
	width: 100%!important;
	color: #fff!important;
}

#resWidgetTop input {
	border-radius: 0px!important;
}

#book {
	font-size: 2.5em;
}

#book span {
	display: inline-block;
	font-size: 1em;
	font-weight: 300!important;
	margin: 10px;
}

#book_btn {
	text-align: center;
	left: 0px;
	right: 0px;
	float: none;
	margin: 0 auto;
	background-color: #006FB7;
}

.social_header {
	margin-top: 20px;
}

#megaMenu ul.megaMenu > li > a, #megaMenu ul.megaMenu > li > span.um-anchoremulator {
	margin-bottom: 0px;
	background: #075F9A;
	text-align: left;
}

#loadingDiv {
	background: #fff url(/wp-content/themes/smokies/images/wilder_loader_bg.png) center 20px no-repeat;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 50%;
	z-index: 21;
	margin: 0 auto;
	padding: 10px;
	width: 173px;
	height: 104px;
	border: 1px solid #F2F2F2;
	box-shadow: 0px 0px 3px  0px #9f9f9f;
	border-radius: 5px;
}

/* Arrow Colors */

#megaMenu ul li.mega-with-sub > a:after,
  #megaMenu ul li.ss-nav-menu-mega > a:after,
  #megaMenu ul li.mega-with-sub > span.um-anchoremulator:after,
  #megaMenu ul li.ss-nav-menu-mega > span.um-anchoremulator:after {
	display: none!important;
}

}

/* Custom Breakpoints */

@media screen and (max-width: px) {

/* Add your styles for devices with a maximum width of  */

}






