
@media screen and (max-width: 1024px){


.hub_link {
  font-size: 1em !important;
  padding: 25px 0 0;
 }
 
#signup_lead {font-size: 1.25em !important;}
	
.mcForm input[type="text"] {
  width: 55% !important;
}

.mcForm input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius:0; 
  border-radius:0;
}	

#af_home, #home_content { padding: 0 20px;}
#home_featured_special{padding-right:20px;}
#weather {display: none;}


	

}


@media screen and (max-width: 768px) and (min-width: 570px){

#loadingDiv, .lodging_widgets, #nav {display:none !important;}

#home_featured_special{padding-right:0;}
#home_content { padding:0;border-right: 0;}

#af_home{ padding:0 5%; border-right: 0;}

#attraction_pricing{padding:3%;}
#last_home_col{padding:3%;}

#container, .inner {width: 100%;padding: 0;}	

#page_wrap {
  margin: 20px 0;
  width: 100%;
  padding: 0 5%;
}

#page_wrap #container {
  padding: 20px 5% 0;
  width: 90%;
}

#homeSec1, #homeSec2, #homeSec3 {
  width: 90%;
  padding:5%;
}

#gift_card.home {
  float: right;
}





.social_home {
  margin-bottom: 30px;
}

.package {
  height: 400px;
  margin-left: 0 !important;
  max-height: none !important;
  width: 100% !important;
}

#monthFilter .span2{width:33%;}

#megaMenu.megaMenuHorizontal ul.megaMenu {
  background: none repeat scroll 0 0 #08609B;
   margin-top: 15px;
}

#header_socials_wrap {position:relative;clear:both;}

#breadcrumbs { padding: 0 5%;}

#page_wrap .inner .span3{width:25%;}

#container div#container.cf div#page_wrap.span12 div.span12 div.inner div#content.span9 {width:100%;}

#room_filters .span3 {
  width:33%;
}

#nav {
  clear:both;
  position: relative;
  float:left;
 }
 

  
#header .inner{padding:0;}
  
#ch {margin: 0;}




#room_filters input[type="radio"] + label {font-size: .75em;}





#signup_hub {
  min-height: 240px;
  padding: 0 5%;
  
}

.hub_link {border:none;}

.logo, #logo{display:none !important;}


#resWidgetTop, #resWidgetTopSub {display: none;}







#waterpark_hours_link.span4 {
  background: url("/wp-content/themes/smokies/images/waterparkhrs_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
  text-indent: 4%;
  width:33%;
}

#faq_link.span4, #attraction_hours_link.span4  {
  background: url("/wp-content/themes/smokies/images/faq_home_icon.png") no-repeat scroll 15% center rgba(0, 0, 0, 0);
  text-indent:-2%;
  width:33%;
}

#photos_link.span4{
  background: url("/wp-content/themes/smokies/images/photos_home_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
  text-indent: 3%;
  width:33%;
}
 
#af_faq_link.span4 {
  background: url("/wp-content/themes/smokies/images/af_faq_home_icon.png") no-repeat scroll 20px center rgba(0, 0, 0, 0);
    text-indent: 4%;
    width:33%;
}

#attraction_hours_link.span4 {
  background: url("/wp-content/themes/smokies/images/attractionhrs_icon.png") no-repeat scroll 20px center rgba(0, 0, 0, 0);
      text-indent: 4%;
    width:33%;;
}

#af_photos_link.span4 {
  background: url("/wp-content/themes/smokies/images/af_photos_home_icon.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
      text-indent: 4%;
    width:33%;
}


.hub_link a {
  color: #4C4C4C;
  font-size: 1.5em;
  line-height: 1em;
  text-decoration: none;
}





.mcForm {
  font-size: 1.1em;
  width: 100%;
  
}

.mcForm input[type="text"] {
	width: 80% !important;}
	
#signup_lead {
  font-size: 2em !important;
  margin-bottom: -30px;
  margin-top: 15px;
  text-align: left;
  padding: 0;
}
	

#home_last_col {
  margin: 0 auto;
  text-align: center;
}

#gift_card.home {
  margin-top: 50px;
  width: 100px;
  margin: 0 auto;
}

#home_last_col img {
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
  width: 30%;
}

#footer #gift_card {
  padding-left: 0;
  padding-top: 100px;
  height: 70px;
}



#footer {
  padding: 40px 5% 20px;
}

.footercol {width: 33%;}

.footercol img {width: 75%}

#gift_card span {
  color: #006FB8;
  display: block;
  font-size: 2em;
  font-weight: 600;
  text-align: left;
}

#footer.cf.af_footer { padding: 40px 5% 20px;}

#gift_card a {text-align: left;}

.fb-update{margin-bottom:15px;}

#footer-menu.span9 {width:100%;}

#footer-menu li {
  display: inline-block;
  margin: 0 10px 0 0;
}

#footer-menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: .75em;
}

.waterpark_wrap {
  margin-bottom: 5px;
  padding-left: 3%;
  padding-top: 5px;
}

.colDarkBox a.view_more, .special a.view_more, .package a.view_more {
  left: auto;
  position: absolute;
  right: 15px;

}




}






