/*
Theme Name: Smokies
*/


.menu-footer-menu-container.closed-alert {
    text-align: center;
    padding: .5rem 0;
    font-size: 1.25rem;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,900,400italic,900italic,100,700,100italic,300italic,500italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Sanchez:400,400italic);

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
    display: block;
}

.trip-advisor {
    float: left;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.full_width_image img {
    width: 100%;
    height: auto !important;
}

.col, .col.dark {
    margin-left: 1.5%;
}

.col:first-child {
    margin-left: 0 !important;
}

.col:first-child, .col.dark:first-child {
    margin-left: 0;
}

.span1 {
    width: 6.95833333333%;

}

.span2 {
    width: 15.4166666667%;

}

.span3 {
    width: 23.875%;

}

.span4 {
    width: 32.3333333333%;

}

.span5 {
    width: 40.7916666667%;

}

.span6 {
    width: 49.25%;

}

.span7 {
    width: 57.7083333333%;

}

.span8 {
    width: 66.1666666667%;

}

.span9 {
    width: 74.625%;

}

.span10 {
    width: 83.0833333333%;

}

.span11 {
    width: 91.5416666667%;

}

.span12 {
    width: 100%;
    margin-left: 0;
}

body {
    font-size: 87.5%;
    color: #252e35;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #F2F2F2;

}

h1 {
    font-size: 1.714285714em; /* 24 / 14 */
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em; /* 21 / 14 */
    line-height: 1.5em; /* 21 / 14 */

}

p {
    font-size: 1em; /* 14 / 14 */
    line-height: 1.5em; /* 21 / 14 */
    margin-bottom: 1.5em; /* 21 / 14 */
    color: #272F34;
}

hr {
    border-bottom: 1px solid !important #1D1F21;
    margin: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#container, .inner {
    margin: 0 auto;
    /*  padding: 0 1.5% 0 1.5%; */
}

.max {
    max-width: 1200px;
}

header {

}

header h1 {
    margin: 7px 0 0 0;
}

#container {
    clear: both;
    padding-top: 20px;
}

.alt {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0.05em;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom: 1;
}

.np {
    padding: 0 !important;
}

/* Site Specific Styles */

:hover {
    transition: color 0.4s ease;
    transition: background-color 0.4s ease;
}

.primary {
    color: #006FB8 !important;
}

#logo {
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    top: 3px !important;
    margin-left: -10px;
    max-width: 195px;
    min-width: 195px;
    height: 100px;
    background: url(/wp-content/themes/smokies/images/wildsmokies_logo.png) no-repeat;
}

.logo {
    text-indent: -9999px;
    max-width: 190px;
    min-width: 190px;
}

#logo.af {
    background: url(/wp-content/themes/smokies/images/AFlogo.png) no-repeat;
    margin-left: -25px;
    max-width: 265px;
    min-width: 265px;
    top: 16px !important;
}

h1 {
    color: #272F34;
    font-size: 2.2em !important;
    font-weight: 700;
    margin: 0 0 15px 0 !important;
}

a {
    color: #006FB8;
}

a:visited {
    color: #272F34;
}

a:hover {
    color: #2A83BE;
}

#ch {
    margin: 45px 0;
}

#page_wrap {
    margin: 20px 0;
}

#header {
    background: #272F34;
    height: 40px;
    position: absolute;
    z-index: 100;
    width: 100%;
}

#header.af {
    background: #17250E !important;
    color: #6B8F2E;
}

#header_socials {
    text-shadow: 0 0 3px #000;
    font-size: 1.1em;
    color: #fff;
    float: right;
    position: relative;
    right: 0;
    top: 7px;
    z-index: 101;
}

#social_lead {
    float: left;
    display: block;
    width: 140px;
}

#social_lead span {
    color: #3971AA;
}

.header_social {
    float: left;
}

.header_social a {
    display: block;
    float: left;
    height: 28px;
    margin-left: 5px;
    overflow: hidden;
    text-indent: -999px;
    overflow: hidden;
}

#google.header_social a {
    width: 35px;
    background: url(/wp-content/themes/smokies/images/header_social_sprite-2018.png) 0 center no-repeat;
}

#twitter.header_social a {
    width: 28px;
    background: url(/wp-content/themes/smokies/images/header_social_sprite-2018.png) -104px center no-repeat;
}

#facebook.header_social a {
    width: 28px;
    background: url(/wp-content/themes/smokies/images/header_social_sprite-2018.png) -54px center no-repeat;
}

#instagram.header_social a {
    width: 28px;
    background: url(/wp-content/themes/smokies/images/header_social_sprite-2018.png) -155px center no-repeat;
}

#nav {
    position: relative;
    top: 40px !important;
    background: url(/wp-content/themes/smokies/images/nav_bg.png);
    height: 52px;
    width: 100%;
    border-bottom: 1px solid #07609B;
    display: block;
    z-index: 2;
}

#nav.af {
    background: url(/wp-content/themes/smokies/images/af_nav_bg.png) !important;
    border-bottom: 1px solid #6B8F2E;
}

.menu {
    display: inline-block;
}

#homeSlider {
    border-bottom: 1px solid #CECECE;

}

#pageSlider {
    /* border-bottom:15px solid #E2E2E2; */
    border-bottom: 1px solid #CECECE;
}

.slideTxt h2 {
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1em !important;
    text-shadow: 0 0 5px #000;
}

.slideTxt span {
    font-weight: 900;
    display: block;
}

#resWidgetTop, #resWidgetTopAf {
    position: absolute;
    max-width: 1199px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 90px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#resWidgetTopSub {
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 5px 0 0 0;
    z-index: 1;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #D6D6D6;
}

.fixed {
    position: fixed !important;
}

#sidebar.fixed {

    top: 140px !important;

}

#nav.fixed {
    top: 0 !important;
    box-shadow: none;
}

#resWidgetTopSub.fixed {
    background-color: #FFF;
    border-bottom: 1px solid #D6D6D6;
    top: 52px !important;
    z-index: 21
}

#logo.fixed {
    top: 3px !important;
    margin-left: 0;
    width: 178px;
    max-width: 227px;
    min-width: 227px;
    height: 44px;
    background: url("/wp-content/themes/smokies/images/fixed_logo.png") no-repeat;
}

#resWidgetTopSub #book {
    color: #272F34;
    text-align: left;
}

#resWidgetTopSub input[type=text], .select-wrapper {
    border: solid 1px #E0E0E0 !important;
}

#book {
    color: #fff;
    font-weight: 900;
    font-size: 3.0em;
    float: left;
    display: block;
    position: relative;
    top: 0;
    text-transform: uppercase;
    line-height: 0.9em;
    margin: 0 0 0 0;
    text-align: center;
}

#book span {
    font-weight: 100;
    display: block;
    font-size: 0.5em;
    font-weight: 300;
    letter-spacing: 0.0em;
    line-height: 1em;
}

#book_btn {
    display: block;
    color: #fff;
    text-decoration: none;
    background: #006FB8 url("/wp-content/themes/smokies/images/search_icon.png") no-repeat right center;
    float: right;
    padding: 20px 40px 20px 10px;
    font-weight: 400;
    overflow: hidden;
    line-height: 0;
    position: relative;
    top: 18px;
    font-size: 1.3em;
}

#book_btn:hover {
    background-color: #2A83BE !important;
}

#availabilityform label {
    color: #fff;
    display: inline;
    vertical-align: top;
}

#availabilityform input[type=text], .select-wrapper {

    color: #1D76B0 !important;
    border: 0;
    width: 100%;
    text-indent: 5px;
    font-size: 1.0em !important;
    height: 35px;
    float: left;
    display: inline-block;
    position: relative;

    color: #0A70B8;
    cursor: pointer;
}

#adults .select-wrapper {
}

#dpd1, #dpd2 {
    cursor: pointer;
    background: #fff url("/wp-content/themes/smokies/images/cal_icon.png") no-repeat right center;
}

.select-wrapper {
    background: #fff url("/wp-content/themes/smokies/images/select.png") no-repeat right center;
    position: relative;

}

.smWhite {
    font-size: 0.65em;
    line-height: 2.1em !important;
}

.select-wrapper .holder {
    display: block;
    margin: 8px 35px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    color: #0A70B8;
}

.select-wrapper select {
    margin: 0 !important;
    position: absolute;

    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    color: #0A70B8;
    padding: 5px;
    left: 0;
    line-height: 1.0em !important;
    font-size: 1.0em !important;
    width: 100%;
}

.select-wrapper:hover {
    background: #fff url("/wp-content/themes/smokies/images/select_active.png") no-repeat right center;
    border-color: #239fdb;
}

#signup_hub {
    background: #f2f2f2;
    height: 73px;
    position: relative;
    z-index: 20;
    margin-top: 5px;
}

#homeSignUp {
    position: relative;
    top: 5px;

}

#signup_lead {
    color: #4C4C4C;
    padding: 13px 10px 0 20px;
    color: #4C4C4C;
    font-size: 1.5em !important;
    font-weight: 400;
    height: 68px;
    text-align: center;
}

#signup_lead span {
    color: #006FB8 !important;
    color: #4C4C4C;
    font-weight: 700 !important;
}

#adventure_forest_wrap #signup_lead span {
    color: #6B8F2E !important;
}

#signup_lead b {
    font-weight: 500;
}

.mcForm {
    font-size: 1.1em;

}

.mcForm input[type=text] {
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px 10px 10px !important;
    position: relative;
    top: 7px;
    color: #777;
    width: 60% !important;
}

#adventure_forest_wrap .mcForm input[type=submit] {
    background-color: #6B8F2E !important;
}

.mcForm input[type=submit] {
    padding: 9px 10px 9px 10px !important;
    position: relative;
    top: 7px;
    left: -10px;
    font-family: 'Roboto', sans-serif;
    background-color: #006FB8 !important;
    font-weight: 500 !important;
    width: 30% !important;
}

#adventure_forest_wrap .mcForm input[type=submit]:hover {
    background-color: #17250E !important;
}

.mcForm input[type=submit]:hover {

    background-color: #2A83BE !important;
    color: #fff;

}

.hub_link {
    padding: 22px 0 0 0;
    border-right: 1px solid #CECECE;
    color: #4C4C4C;
    height: 68px;
    text-align: center;
    font-size: 1.2em !important;
    font-weight: 500;
    cursor: pointer;
}

.hub_link a {
    text-decoration: none;
    color: #4C4C4C;
}

.hub_link a:hover {
    color: #1070B5;
}

#waterpark_hours_link.span4 {
    text-indent: 30px;
    background: url('/wp-content/themes/smokies/images/waterparkhrs_icon.png') 20px no-repeat;
}

#photos_link.span4 {
    text-indent: 30px;
    background: url('/wp-content/themes/smokies/images/photos_home_icon.png') 20px no-repeat;

}

#card_link.span4 {
    text-indent: 20px;
    background: url('/wp-content/themes/smokies/images/card_home_icon.png') 30px no-repeat;
}

#faq_link.span4 {
    text-indent: 20px;
    background: url('/wp-content/themes/smokies/images/faq_home_icon.png') 40px no-repeat;
}

#af_card_link.span4 {
    text-indent: 20px;
    background: url('/wp-content/themes/smokies/images/af_card_home_icon.png') 30px no-repeat;
}

#attraction_hours_link.span4 {
    text-indent: 30px;
    background: url('/wp-content/themes/smokies/images/attractionhrs_icon.png') 20px no-repeat;
}

#af_faq_link.span4 {
    background: url('/wp-content/themes/smokies/images/af_faq_home_icon.png') 20px no-repeat;

}

#af_photos_link.span4 {
    text-indent: 20px;
    background: url('/wp-content/themes/smokies/images/af_photos_home_icon.png') 10px no-repeat;

}

/* Datepicker for Bootstrap */
.datepicker {
    top: 0;
    position: absolute;
    z-index: 9000;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
    background: #fff;
}

.datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}

.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.datepicker > div {
    display: none;
}

.datepicker table {
    width: 100%;
    margin: 0;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
}

.datepicker td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}

.datepicker td.day.disabled {
    color: #eeeeee;
}

.datepicker td.old,
.datepicker td.new {
    color: #999999;
}

.datepicker td.active,
.datepicker td.active:hover {
    color: #ffffff;
    background: #2C84BF !important;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

}

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
    background-color: #003399 \9;
}

.datepicker td span {
    display: block;
    width: 47px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker td span:hover {
    background: #eeeeee;
}

.datepicker td span.active {
    color: #ffffff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0044cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.datepicker td span.active:active,
.datepicker td span.active.active {
    background-color: #003399 \9;
}

.datepicker td span.old {
    color: #999999;
}

.datepicker th.switch {
    width: 145px;
}

.datepicker th.next,
.datepicker th.prev {
    font-size: 21px;
}

.datepicker thead tr:first-child th {
    cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
    background: #eeeeee;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

/* END DATE PICKER */

/* Weather */

#weather {
    background: #07609B;
    height: 52px;
    overflow: hidden;
    width: 90px;
    padding: 10px 3px;
    float: right;
    position: relative;
    top: -52px;
    z-index: 6;

}

#nav.af #weather {
    background: #557125;
}

#weather #weather_icon {
    color: #FFFFFF;
    display: block;
    float: left;
    left: 0;
    position: relative;
    top: 0;
}

#weather .temp {
    color: #FFFFFF;
    float: right;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    position: relative;
    font-size: 1.5em;
    text-transform: lowercase;
    top: 0;
    right: 4px;
}

/** Carousel **/
.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.jcarousel, .jc-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul, .jc-slider ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    max-width: 275px;
    height: 280px;
    float: left;
    margin: 0 35px 0 0;
    text-align: center
}

.jc-slider li {
    width: 100% !important;
    max-width: 480px;
    height: 350px;
    position: relative;
    float: left;
    margin: 0;
}

.jc-slider-content {
    color: #fff !important;
    position: absolute;
    top: 221px;
    position: bottom;
    background: #006FB8;
    padding: 10px 10px 10px 10px;
}

.jc-slider img {
    width: 100% !important;
    height: auto !important;
}

.jc-slider-content p {
    color: #fff !important;
}

.jcarousel img, .jc-slider img {
    display: block;
    height: auto !important;
}

.jcarousel p {
    font-weight: 900;
    padding: 10px;
}

/** Carousel Controls **/
.jc-slider-control-prev,
.jc-slider-control-next,
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 30%;

    width: 36px;
    height: 74px;
    text-align: center;
    background: url('/wp-content/themes/smokies/images/carousel_nav.png');
    text-indent: -9999px;
    overflow: hidden;

}

.jcarousel-control-prev, .jc-slider-control-prev {
    left: -2px;
    background-position: -36px;
}

.jcarousel-control-next, .jc-slider-control-prev {
    right: -2px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jc-slider-pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin: 0;
}

.jcarousel-pagination a, .jc-slider-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    overflow: hidden;
    margin-right: 7px;

}

.jcarousel-pagination a.active, .jc-slider-pagination a.active {
    background: #003E68;
    color: #fff;
    opacity: 1;

}

.fws {
    width: 100%;
    padding: 20px 0;
}

.fws.white {
    background: #fff;
}

.fws.grey {
    background: #f2f2f2;
}

#homeSec1 {
}

#homeSec2 {
}

#homeSec3 {
}

#afhomeSec1 {
    background: #fff;;
}

#afhomeSec1 h3 {
    color: #6B8F2E;
}

.esp {
    display: inline-block;
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
    background: url('/wp-content/themes/smokies/images/eat_stay_play.png') right no-repeat;
    height: 50px;
    line-height: 1.7em;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #272F34;
}

#eat {
    background-position: right -104px;
    width: 165px;
}

#stay {
    background-position: right;
    width: 140px;
}

#play {
    background-position: right -1px;
    width: 140px;
}

.featured_special_header {
    background: #272f34 url('/wp-content/themes/smokies/images/featured_special_icon.jpg') left no-repeat;
    color: #fff;
    padding: 0 0 0 50px;
    height: 33px;
    font-size: 1.4em !important;
    font-weight: 300;
    line-height: 1.6em;

}

.featured_special_header b {
    font-weight: 500;
}

.view_more a {
    font-weight: 600;
    text-decoration: none;
    line-height: 0;
    color: #272F34;
}

#home_featured_special img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#home_featured_special h4 {
    font-size: 1.3em;
    color: #006FB8;
    margin: 5px 0;
}

#home_content img {
    width: 100%;
    height: auto;
}

#home_last_col img {
    width: 100%;
    height: auto;
}

#home_last_col {

}

.social_header {
    background: #272f34 url('/wp-content/themes/smokies/images/socials_bg.png') left no-repeat;
    color: #fff;
    padding: 0 0 0 70px;
    height: 54px;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 2.7em;
    cursor: pointer;
}

.social_header a {
    color: #fff;
    text-decoration: none;
}

.af .social_header {
    background-color: #17250E !important;
}

#twitter.social_header {
    background-position: 0 -110px;
}

#facebook.social_header {
    background-position: 0 0;
}

#youtube.social_header {
    background-position: 0 center;
}

.social_header b {
    font-weight: 500;
}

.social_home {
    background: #F2F2F2;
}

.social_content {
    font-size: 1.05em;
    padding: 10px;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    max-height: 320px;
    min-height: 320px;
    overflow-y: scroll;
    color: #272F34;
}
.social_content.facebook-frame {
    overflow: hidden;
}

.social_content h4 {
    color: #3C4043;
}

.social_content p {
    font-size: 0.9em;
}

.social_content a {
    text-decoration: none;
}

.social_content .fb_date {
    color: #272F34;
    font-size: 0.85em;
    color: #6F6F6F;
    font-weight: 400;
    float: right;
}

.social_content.youtube_feed {
    overflow: hidden;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#footer.cf.af_footer {
    background: #17250E;
    clear: both;
    padding: 40px 0 20px 0;
    color: #fff !important;
}

#footercap.af_footer {
    background: #6B8F2E;
    color: #fff;
    padding: 10px;
}

#footer.cf.af_footer #gift_card span {
    color: #6B8F2E;
    font-size: 2em;
    font-weight: 600;
    display: block;
    text-align: left;
}

#footercap.af_footer .copy {
    color: #17250E
}

#footer {
    background: #272F34;
    clear: both;
    padding: 40px 0 20px 0;
    color: #fff !important;
}

#footer p {
    color: #fff !important;
}

#footercap {
    background: #006FB8;
    color: #fff;
    padding: 10px;
}

.copy a {
    color: #272F34;
}

#footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

#footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footercol {
    text-align: center;
}

#gift_card {
    height: 120px;
    line-height: 2em;
    padding-left: 160px;
    background: url('/wp-content/themes/smokies/images/giftCard.png') no-repeat;
}

#gift_card span {
    color: #006FB8;
    font-size: 2em;
    font-weight: 600;
    display: block;
    text-align: left;
}

#gift_card a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    text-align: left;
}

#gift_card.home {
    height: 141px;
    margin-top: 20px;
    line-height: 2em;
    padding-left: 140px;
    background: url('/wp-content/themes/smokies/images/giftCard.png') no-repeat;
}

#gift_card.home span {
    color: #006FB8;
    font-size: 1.8em;
    font-weight: 600;
    display: block;
    text-align: left;
}

#gift_card.home a {
    color: #272F34;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    text-align: left;
}

.bread_crumbs_wrap {
    border-bottom: none;
    background: #272F34;
    font-size: 0.9em;
    color: #708493;
}

.bread_crumbs_wrap.af {
    border-bottom: none;
    background: #17250E;
    font-size: 0.9em;
    color: #557125 !important;
}

#bread_crumbs.af {
    color: #557125 !important;
    padding: 12px 0 5px 0;
}

#bread_crumbs {
    color: #708493;
    height: 30px;;
    padding: 15px 0 5px 0;
}

#bread_crumbs.af .separator {
    color: #557125 !important
}

#bread_crumbs.af #breadcrumbs a {
    color: #557125 !important;
    text-decoration: none;

}

#bread_crumbs.af #breadcrumbs a:hover {
    color: #fff !important;
    text-decoration: none;
}

#breadcrumbs {
    list-style: none;
    margin-top: 10px;
    overflow: hidden;
}

#breadcrumbs li {
    float: left;
    margin-right: 10px;
}

#breadcrumbs .separator {
    color: #708493;
}

#breadcrumbs a {
    color: #708493;
    text-decoration: none;
}

#breadcrumbs a:hover {
    color: #2A83BE;
    text-decoration: none;
}

.sidebarBox {
    padding: 20px;
    margin: 0 0 10px 0;
    list-style: none;

}

.sidebarBox #policies {
    text-align: justify;
    color: #272E34;
    font-weight: 400;
}

.sidebarBox .varied_title {
    color: #272F34;
    font-size: 1.8em !important;
}

.sidebarBox .phone {
    color: #272F34 !important;
    font-size: 2.3em !important;
}

.home_phone {
    font-size: 1.2em;;
    color: #006FB7;
}

.home_phone .phone {
    font-weight: 900 !important;
    color: #272F34;
}

.sidebarBox .toggle a {
    color: #272F34 !important;
    background: url(/wp-content/themes/smokies/images/toggle_button_dark.png) no-repeat;

}

.sidebarBox .toggle a.expanded {
    background: url(/wp-content/themes/smokies/images/toggle_button_dark.png) no-repeat 0 -31px;

}

.dark {
    padding: 20px;
    margin: 0 0 10px 0;
    background: #272F34;
}

.sidebarBox img {
    width: 100%;
    height: auto;
}

#resWidgetSide input[type=text], .select-wrapper {
    float: none;
}

#resWidgetSide label {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100% !important;
}

#resWidgetTopSub label {
    color: #272F34 !important;
}

#book_side, .sidebar_title, .varied_title {
    color: #fff;
    font-size: 1.8em !important;
    font-weight: 500;
    margin-bottom: 10px;
}

#book_side span, .sidebar_title span {
    font-weight: 300;
}

#resWidgetSide #book_btn {
    display: block;
    color: #fff;
    text-decoration: none;
    background: #3971AA url("/wp-content/themes/smokies/images/search_icon.png") no-repeat right center;
    float: none;
    padding: 20px 40px 20px 10px;
    margin-top: 20px;
    font-weight: 400;
    overflow: hidden;
    line-height: 0;
    position: static;
    top: 18px;
    font-size: 1.3em;
}

.room_options {
    width: 100%;
}

.room_options ul li {
    width: 270px;
    float: left;
}

.room_options ul {
    margin-top: 10px;
    float: left;
}

.room_listing_button a, .room_layout_button a {
    padding: 7px 10px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    display: block;
    margin: 20px 0 0 0;
    background: #006FB8 url(/wp-content/themes/smokies/images/btn_bg.png) bottom;
    text-align: center;
    color: #fff;
}

.room_listing_button a:hover, .room_layout_button a:hover {
    background: #242B30;
}

.room_listing_button.get_rates, .room_layout_button {
    float: right;
}

.room_listing, .waterpark_listing, .attraction_listing {
    background: #fff;
    padding: 20px;
    border: solid 1px #E5E5E5;
    box-shadow: 0 0 2px 0 #E5E5E5;
    margin-bottom: 20px;
}

.attraction_listing .primary {
    color: #6B8F2E !important;
}

.room_title {
    font-size: 1.8em;
}

.room_title a, .room_title {
    text-decoration: none;
    color: #272F34;
}

.room_title a:hover {
    color: #2A83BE;
    transition: color 0.4s ease;
}

.room_listing ul {
}

.room_listing ul li {
    list-style: disc inside;
    font-size: 0.8em;
    margin-left: 10px;
}

.lodging_widgets li h5 {
    text-align: center;
}

.lodging_widgets li .textwidget {
    color: #728B96 !important;
    font-size: 0.9em !important;
    line-height: 1.3em;
    font-weight: 300 !important;
}

.waterpark_image {
    max-height: 190px;
    overflow: hidden;
}

.varied_title {
    font-weight: 200 !important
}

span {
    font-weight: 500 !important
}

.room_listing_image {
    width: 100%;
    height: auto;
}

.lodging_widgets .phone {
    color: #fff;
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 1.7em;
}

h3 {
    font-size: 2.0em !important;
    font-weight: 300;
}

.employment-page a{
    color: #2A83BE;
}

.job-position{
    margin-top: 15px;
    float: none;
    clear: both;
    line-height: 1.5;
}

.job-position .header{
    text-align: right;
    padding: 0 15px;
}

.job-position .title{
    margin-top: 15px;
}

.job-position .padding{
    margin-top: 15px;
}

.jobs-wrap .border{
    border-bottom: 1px solid #D6D6D6;
    display: block;
}

/***********************************LOADER******************************************/
#loadingDiv {
    background: #fff url(/wp-content/themes/smokies/images/wilder_loader_bg.png) center 20px no-repeat;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 22;
    padding: 10px;
    width: 173px;
    height: 104px;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 3px 0 #9f9f9f;
    border-radius: 5px;
}

.circle {
    position: absolute;
    left: 50%;
    top: 95%;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: #006FB8;
    -moz-animation-name: jump;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: jump;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

.circle:nth-of-type(1) {
    margin: -20px 0 0 -65px;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.circle:nth-of-type(2) {
    margin: -20px 0 0 -45px;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.circle:nth-of-type(3) {
    margin: -20px 0 0 -25px;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.circle:nth-of-type(4) {
    margin: -20px 0 0 -5px;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.circle:nth-of-type(5) {
    margin: -20px 0 0 15px;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.circle:nth-of-type(6) {
    margin: -20px 0 0 35px;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.circle:nth-of-type(7) {
    margin: -20px 0 0 55px;
    -moz-animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

#room_filters {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: #272F34;
    text-align: center;
    color: #fff;

}

#room_filters.fixed, #text-4 {
    top: 80px !important;
}

@-webkit-keyframes jump {
    0% {
        border: 1px solid #bfbfbf;
    }
    50% {
        -webkit-transform: translateY(-30px);
    }
    75% {
    }
    100% {
    }
}

@-moz-keyframes jump {
    0% {
    }
    50% {
        -moz-transform: translateY(-30px);
    }
    75% {
    }
    100% {
    }
}

#specialsFilter {
    padding: 20px;
    font-weight: 700;
    background: #272F34;
    color: #fff;

}

#specialsFilter .select-wrapper {
    position: relative;
    top: -9px;

}

/*********************************** RADIO pushbutton effect ******************************************/

#room_filters #handicap input[type=radio] + label {
    background: url(/wp-content/themes/smokies/images/handicap_icon.png) no-repeat center center;
    height: 25px;
    width: 25px;
    padding: 5px;
    text-indent: -999px;
    overflow: hidden;

}

#room_filters #handicap input[type=radio]:hover + label {
    background: url(/wp-content/themes/smokies/images/handicap_icon+active.png) no-repeat #fff center center;
}

#room_filters #handicap input[type=radio]:checked + label {
    background: url(/wp-content/themes/smokies/images/handicap_icon.png) no-repeat #056FB8 center center;
}

#room_filters input[type=radio] {
    display: none;
    margin: 10px;
}

#room_filters input[type=radio] + label {
    display: inline-block;
    margin: -7px;
    padding: 10px 12px;
    line-height: 1em;
    background-color: #272F34;
    border-color: #006FB8;
    cursor: pointer;

}

#room_filters input[type=radio]:checked + label {
    background-image: none;
    background-color: #006FB8;
}

#room_filters input[type=radio]:hover + label {
    background-image: none;
    background-color: #FFF;
    color: #006FB8;
}

/* SUB CUSTOM MEGA MENU MAIN STYLES IN CUSTOM.CSS */

#custom_nav > div {
    max-width: 220px !important;

}

.sub_nav_col {
    /*   padding:0px 10px!important;
    margin:0px 10px!important;*/
}

.menu_header {
    font-size: 1.4em !important;
    font-weight: 500;
    margin-bottom: 5px !important;
    line-height: 1.4em;
}

.menu_header a {
    text-decoration: none;
    color: #fff !important

}

.menu_header a:hover {
    color: #fff !important
}

ul.sub_menu_item li {
    margin-top: 5px;
    min-width: 200px !important;
}

ul.sub_menu_item li a {
    text-decoration: none;
    color: #c7e5f9 !important;
    display: block !important;
}

ul.sub_menu_item li a:hover {
    color: #fff !important;
    font-weight: 500 !important;
}

/* END MEGA MENU CUSTOM SUB MENU STYLES */

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #006FB8;
    color: #fff;
    text-shadow: none;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {

}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading {

}

.fancybox-prev span, .fancybox-next span {
    background-image: url('/wp-content/themes/smokies/images/fbox/fancybox_sprite.png');
}

.fancybox-close {
    background: #006FB8 url('/wp-content/themes/smokies/images/close.png') no-repeat center center;
    padding: 10px 5px;
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 55px;
    height: 55px;
    background: #006FB8 url('/wp-content/themes/smokies/images/fbox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: visible;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background-color: rgba(255, 255, 255, 0.7);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url('/wp-content/themes/smokies/images/fbox/fancybox_sprite@2x.png');
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }

    #fancybox-loading div {
        background-image: url('/wp-content/themes/smokies/images/fbox/fancybox_loading@2x.gif');
        background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
    }
}

/* Galleries */

.gallery_link {
    background: url('/wp-content/themes/smokies/images/photos_icon.png') no-repeat 0 0;
    width: 70px;
    pointer-events: none !important;
    height: 50px;
    display: block;
    overflow: hidden;
    text-indent: 70px;
    color: #fff;
    line-height: 3.5em;
    font-size: 1.1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-shadow: 0 0 2px #000;
    text-decoration: none;

}

.gallery_link:visited {
    color: #fff;
}

.gallery_link:hover {
    color: #fff;
}

.room_listing_image img {

}

.room_listing_image {
    height: 170px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    position: relative;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.hidden {
    display: none;
}

.galThumbs li {
    display: inline-block;
}

.galThumbs li img {
    width: 50px;
}

a.allLodgingBtn {
    text-decoration: none;
    display: block;
    margin: 0 0 10px 0;
    color: #fff;
    background: #272F34;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
    text-transform: capitalize;
}

a.allLodgingBtn:hover {
    background: #006FB8;
}

.special_image {
    overflow: hidden;
    max-height: 250px;
}

.special {
    background: #272F34;
    color: #fff;
    max-height: 390px;
    min-height: 390px;
    margin-left: 1.5%;
    margin-top: 1.5%;
    position: relative;
}

.package {
    background: #272F34;
    color: #fff;
    max-height: 280px !important;
    min-height: 280px !important;
    margin-left: 1.5%;
    margin-top: 1.5%;
    position: relative;
}

.colDarkBox {
    background: #272F34;
    color: #fff;
    position: relative;
    min-height: 365px;
    margin-left: 1.5%;
    margin-top: 1.5%;
}

.special h4 a {
    margin-left: 5px !important;
}

.waterpark_wrap {
    padding: 20px;
}

.colDarkBox a.view_more, .special a.view_more, .package a.view_more {
    background: #006FB8;
    color: #fff;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.af a.view_more {
    background: #6B8F2E;
    color: #fff;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    display: block;
    margin-top: 10px;
}

.af a.view_more:hover {
    background: #17250E;
}

.colDarkBox a.view_more:hover, .special a.view_more:hover, .package a.view_more:hover {
    background: #fff;
    color: #006FB8;
}

.special h4 a, .package h4 a, .waterpark_wrap h4 a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 0;
    font-size: 1.6em;
    font-weight: 700;
}

.package h4 a {
    font-size: 1.2em;
}

.special h4 a:visited, .package h4 a:visited {
    color: #fff;
    text-decoration: none;
}

.package {
    max-height: 350px;
    min-height: 350px;
}

.special:first-child {
    margin-left: 0;
}

.package:first-child {
    margin-left: 0;
}

.special:nth-child(3n+1) {
    margin-left: 0;
}

.package:nth-child(4n+1) {
    margin-left: 0;
}

.colDarkBox:nth-child(3n+1) {
    margin-left: 0 !important;
}

.colDarkBox.video_col {
    height: 400px !important;
}

.special_text, .package_text, .waterpark_text {
    color: #708493;
    font-size: 0.9em;
}

.special_value, .package_value {
    color: #006FB8;
    padding: 5px;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
}

.specials_content {
    background: #fff;
    min-height: 250px;
    padding: 20px;
    border: solid 1px #E5E5E5;
    box-shadow: 0 0 2px 0 #E5E5E5;
}

.dark {
    color: #708493;
}

.dark h5 {
    color: #fff;
    font-size: 1.7em;
    font-weight: 300;
}

.phone {
    color: #fff;
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 1.7em;
}

.white {
    color: #fff;
}

.offer_value_wrap {
    padding-bottom: 40px;
}

.offer_value_wrap .span3 {
    text-align: center;
}

.savings_text {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
}

.dates_wrap {
    background: #fff;
    color: #272F34;
    border: 1px solid #D6D6D6;
    padding: 20px;
    font-weight: 700;
    height: 90px;
}

.value_wrap {
    background: #006FB8;
    color: #272F34;
    border: 1px solid #D6D6D6;
    padding: 10px;
    font-weight: 700;
    height: 90px;

}

.savings_dates {
    font-size: 1.3em;
    color: #708493;
    font-weight: 300 !important;

}

.accordion {
    margin: 30px;
    position: relative;
}

.accordion dt, .accordion dd {
    padding: 10px;
    border: 1px solid #0056AD;
    border-bottom: 0;
}

/*.accordion dt:last-of-type, .accordion dd:last-of-type {
            border-bottom: 1px solid black;
        }*/
dt a, dd a {
    display: block;
    color: #ffffff !important;
    text-decoration: none;
}

dt h2 {

    font-weight: 200 !important;

}

dt {
    background-color: #006FB8;
}

dd {
    /*border-top: 0;*/
    font-size: 16px;
    background-color: #ffffff;
    padding: 20px !important;
}

dd:last-of-type {
    /*border-top: 1px solid white;*/
    position: relative;
    top: -1px;
}

.special_wrap {
    padding: 10px;
}

.toggle a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    background: url(/wp-content/themes/smokies/images/toggle_button.png) no-repeat;
    display: block;
    height: 23px;
    padding-left: 40px;
    padding-top: 7px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.toggle a.expanded {
    background: url(/wp-content/themes/smokies/images/toggle_button.png) no-repeat 0 -31px;

}

.block_thumb img {
    overflow: hidden;
    max-height: 190px;
    min-height: 190px;
}

.specials_content {
    background: #fff;
    min-height: 250px;
    padding: 20px;
    border: solid 1px #E5E5E5;
    box-shadow: 0 0 2px 0 #E5E5E5;
}

.light {
    background: #fff;
    padding: 20px;
}

.shadow {
    border: solid 1px #E5E5E5;
    box-shadow: 0 0 2px 0 #E5E5E5;
}

#last_home_col {
    height: 380px;
    background-size: 100% auto;
    background-image: url(/wp-content/themes/smokies/images/adventure_forest_birthdayhat.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

#last_home_col h4, #attraction_pricing h4, #home_last_col h4 {
    font-size: 1.8em;
    color: #272F34;
}

#payperplay {
    font-size: 3.5em;
    font-weight: 100;
}

#payperplay span {
}

#payperplay span {
    color: #FA8C25;
}

#impact {
    color: #272F34;
    font-weight: 200;
    font-size: 3.5em;
}

#impact span {
    color: #006FB8;
}

/* Attraction Price List*/

.attraction-prices {
}

.attraction-prices thead h2 {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 300;
    padding: 1%;
}

.attraction-prices thead h2 span {
    color: #F99E3A;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 1%;
    padding: 0;
    font-family: 'sanchez', sans-serif;
    font-style: italic;
    float: right;
}

.attraction-prices thead {
    background-color: #557125;
    border-left: 1px solid #557125;
    padding: 0;
    margin: 0;
    text-align: left;
}

.attraction-prices tbody {
    border: 1px solid #557125;
}

.attraction-prices tr:hover td {
    background: #b7c791;
    color: #557125;
}

.attraction-prices td {
    padding: 10px;
}

.attraction-prices table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;

}

/* End Attraction Price List*/

#af_home, #home_content {
    padding-right: 20px;
    border-right: 1px solid #F2F2F2;
    text-align: justify;
}

/* Forms*/
.vfbp-form h3 {
    color: #006FB8 !important;

}

.vfbp-form h4 {
    color: #006FB8 !important;

}


/*
.vfbp-form fieldset {
    background-color: #fff !important;
    border: 0 !important;
    border-radius: 0 !important;
    clear: both !important;
    margin: 0 0 65px 0 !important;
    padding: 0 !important;
}

.verification h3 {
    display: none !important;
}

.vfbp-form .vfb-legend {
    border-bottom: none !important;

    font-size: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
}

.vfbp-form h3 {
    line-height: 1.5em !important;
    margin: 0 0 25px 25px !important;
    color: #006FB8 !important;

}

.vfbp-form label, label.vfb-desc {
    color: #272F34 !important;
    font-weight: 300 !important;

}

.vfbp-form input {
    height: 35px !important;
}

.vfbp-form label .vfb-required-asterisk {
    color: #006FB8 !important;
}

label.vfb-desc {
    font-size: 1.25em !important;

}

.vfb-submit, input.vfb-submit[type="submit"] {
    width: 160px;
    height: 40px;
    background: #006FB8;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    cursor: pointer;
    color: #fff !important;
    font-weight: 900;
}

.vfb-submit:hover, input.vfb-submit[type="submit"]:hover {
    width: 160px;
    height: 40px;
    background: #272F34;
    font-weight: 900;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}



.vfbp-form label.vfb-choice {
    margin: -26px 0 0 23px !important;
} */

/* End Forms*/

.testimonial_btn {
    background: #006FB8;
    width: 270px;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    font-size: 1.3em;
}

.testimonial_btn a {
    color: #fff;
    text-decoration: none;
}

.testimonial_btn:hover {
    cursor: pointer;
    background: #272F34;
    text-decoration: none;
}

.testimonial .byline {
    font-size: .8em;
    font-weight: 300 !important;
    color: #2A83BE;

}

.testimonial.col {
    margin-left: 0 !important;
    padding: 40px;
    font-size: 1.2em;
    max-height: 300px;
    min-height: 300px;
    line-height: 1.7em;
    background: url(/wp-content/themes/smokies/images/openQuotes.png) no-repeat 30px 0;
    text-indent: 40px;

}

.testimonial blockquote {
    font-family: 'Sanchez', serif !important;
}

#af_carouselTitle {
    width: 267px;
    margin: 0 auto 20px auto;
}

#home_content h1 {
    font-size: 2.5em !important;
    margin: 0 !important;
    text-transform: capitalize;
}

#home_content span {
    font-weight: 300 !important;
    display: block;
}

#home_content h3 {
    text-transform: uppercase;
    font-size: 2.6em !important;
    margin: 0 !important;
}

.pixelated {
    image-rendering: optimizeSpeed; /* Legal fallback */
    image-rendering: -o-crisp-edges; /* Opera          */
    image-rendering: -webkit-optimize-contrast; /* Safari         */
    image-rendering: optimize-contrast; /* CSS3 Proposed  */
    image-rendering: crisp-edges; /* CSS4 Proposed  */
    image-rendering: pixelated; /* CSS4 Proposed  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}

/* calendar styles */
.fc-today {
    background: #07609A !important;
    color: #fff !important;
}

.round5.all {
    background: #07609A !important;
}

.round5 {
    border-radius: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

/* end calendar styles */

.galleryCount {
    color: #006FB8;
    font-weight: 900;
    font-size: 1.8em;
}

.galleryCount span {
    color: #fff;
    font-weight: 200 !important;
    font-size: 0.7em;
}

.colDarkBox.galleryWrap.cf {
    max-height: 350px !important;
    min-height: 350px;
}

#directions input[type="submit"] {
    width: 20%;
    min-width: 280px !important;
    height: 43px;
    background: #006FB8;
    margin-left: 10px !important;
    padding: 0 !important;
    border: 0 !important;
    cursor: pointer;
    color: #fff !important;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.0em;
}

#directions input {
    width: 50%;
    min-width: 280px !important;
    height: 17px;
    background: #F2F2F2;
    margin-top: 10px;
    padding: 10px !important;
    color: #272E34 !important;
    font-weight: 900;
    font-size: 1.0em;
    border: solid 2px #E2E2E2 !important;
}

#directions input:hover[type="submit"] {
    background: #272F34;
}

.waterpark {
    min-height: 400px;
    max-height: 400px;
}

#map-canvas {
    border: solid 5px #E2E2E2 !important;
}

.play_btn {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 80px;
    margin: 0 auto;
    top: 20%;
    pointer-events: none;
}

.vid_thumb {
    cursor: pointer;
}

.back_btn a {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: #006FB8;
    cursor: pointer;
    margin-bottom: 1.5%;
}

.book_now_btn a {
    background: #006FB8;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.5em;
}

.book_now_btn a:hover {
    background: #272F34;
}

.menu_header.cf.hadicap_rooms_nav {
    font-size: 0.9em !important;
    display: absolute !important;
    padding: 0 !important;
    margin: 0 ! imprtant;
    height: 0;
    top: -120px;
    left: 30px;
}

#resResponsive {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    .span6 {
        width: 100%;
        margin-left: 0 !important;
    }

    .span3 {
        width: 49.25%;

    }

    .span3:nth-child(2n+3) {
        margin-left: 0;
    }

    .span8, article {
        width: 100%;
    }

    .span4, aside {
        width: 100%;
        margin-left: 0;
    }

    #container, .inner {
        width: 90%;
        padding: 0 1.5% 0 1.5%;
    }
}

#mobile-menu, .menu-trigger {
    display: none;
}

body .buorg {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-bottom: 5px solid #006fb8;
    background-color: #f2f2f2;
    color: #272F34;
}

body .buorg a {
    color: #006fb8;
}

body .buorg div {
    padding: 15px 40px;
}

body .buorg #buorgclose {
    font-size: 24px;
}

#mobile-nav {
    display: none;
}

#waterpark_logo_home, #af_logo_home {
    margin-bottom: 20px;
}

.passesBtn a {
    padding: 10px 5px;
    background: #6B8F2E;
    width: 200px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 1.1em;

}

.passesBtn a:hover {

    background: #F2F2F2;

    color: #6B8F2E;

}

/*////////////////////////////////////   MEDIA QUERIES  //////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////// TABLET */

@media screen and (max-width: 1024px) {

    .room_listing_button a, .room_layout_button a {
        background: #006FB8;
    }

    #room-content .span3 {
        width: 32.3333333333%;
    }

    .fancybox-close {
        background: #006FB8 url('/wp-content/themes/smokies/images/close.png') no-repeat center center !important;
        padding: 10px 5px !important;
    }

    #resWidgetTop, #resWidgetTopSub {
        top: 50px;
    }

    #nav {
        display: none;
    }

    #ch {
        margin: 0;
    }

    #logo {
        display: none;
    }

    #logo-mobile {
        position: absolute !important;
        background: url("/wp-content/themes/smokies/images/fixed_logo.png") center center no-repeat;
        left: 0 !important;
        right: 0 !important;
        top: 3px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 178px !important;
        width: 178px !important;
        width: 178px !important;
        height: 44px !important;
        z-index: 200 !important;

    }

    #mobile-nav {
        position: fixed;
        top: 0 !important;
        background: url(/wp-content/themes/smokies/images/nav_bg.png);
        height: 52px;
        width: 100%;
        border-bottom: 1px solid #07609B;
        display: block;
        z-index: 800;
    }

    .menu-trigger {
        display: block;
        background: url(/wp-content/themes/smokies/images/hamandcheese.png) no-repeat !important;
        width: 40px;
        height: 40px;
        position: relative;
        top: 5px;
    }

    #menu-mobile.menu > li a {
        text-decoration: none;
        font-size: 1.2em;
        padding: 15px 10px;
        border-top: 1px solid #404C54;
        border-bottom: 1px solid #1D2126;
        font-weight: 400;
        width: 100% !important;
        display: block;
        color: #fff;
    }

    #jPanelMenu-menu {
        background: #272F34;
        box-shadow: inset 0 0 5px 5px #191D21
    }

    #mobile-nav {
        position: fixed;
        top: 0 !important;
        background: url(/wp-content/themes/smokies/images/nav_bg.png);
        height: 52px;
        width: 100%;
        border-bottom: 1px solid #07609B;
        display: block;
        z-index: 800;
    }

    .hub_link {
        font-size: 1em !important;
        padding: 25px 0 0;
    }

    #signup_lead {
        font-size: 1.25em !important;
    }

    .mcForm input[type="text"] {
        width: 55% !important;
    }

    .mcForm input[type="submit"], input[type="button"] {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #af_home, #home_content {
        padding: 0 20px;
    }

    #home_featured_special {
        padding-right: 20px;
    }

    #weather {
        display: none;
    }

}

@media screen and (max-width: 768px) and (min-width: 569px) {
    #bread_crumbs {
        display: none;
    }

    .room_listing_button a, .room_layout_button a {
        background: #006FB8;
    }

    .span9 {
        width: 100%;
    }

    #room-content .span3 {
        width: 32.3333333333% !important;
    }

    .span3.col {
        width: 100% !important;
    }

    #loadingDiv, .lodging_widgets, #nav {
        display: none !important;
    }

    #home_featured_special {
        padding-right: 0;
    }

    #home_content {
        padding: 0;
        border-right: 0;
    }

    #af_home {
        padding: 0 5%;
        border-right: 0;
    }

    #attraction_pricing {
        padding: 3%;
    }

    #last_home_col {
        padding: 3%;
    }

    #container, .inner {
        width: 100%;
        padding: 0;
    }

    #page_wrap {
        margin: 20px 0;
        width: 100%;
        padding: 0 5%;
    }

    #page_wrap #container {
        padding: 20px 5% 0;
        width: 90%;
    }

    #homeSec1, #homeSec2, #homeSec3 {
        width: 90%;
        padding: 5%;
    }

    #gift_card.home {
        float: right;
    }

    .social_home {
        margin-bottom: 30px;
    }

    .package {
        height: 400px;
        margin-left: 0 !important;
        max-height: none !important;
        width: 100% !important;
    }

    #monthFilter .span2 {
        width: 33%;
    }

    #megaMenu.megaMenuHorizontal ul.megaMenu {
        background: none repeat scroll 0 0 #08609B;
        margin-top: 15px;
    }

    #header_socials_wrap {
        position: relative;
        clear: both;
    }

    #breadcrumbs {
        padding: 0 5%;
    }

    #page_wrap .inner .span3 {
        width: 25%;
    }

    #container div#container.cf div#page_wrap.span12 div.span12 div.inner div#content.span9 {
        width: 100%;
    }

    #room_filters .span3 {
        width: 33%;
    }

    #nav {
        clear: both;
        position: relative;
        float: left;
    }

    #header .inner {
        padding: 0;
    }

    #ch {
        margin: 0;
    }

    #room_filters input[type="radio"] + label {
        font-size: .75em;
    }

    #signup_hub {
        min-height: 240px;
        padding: 0 5%;
    }

    .hub_link {
        border: none;
    }

    .logo, #logo {
        display: none !important;
    }

    #resWidgetTop, #resWidgetTopSub {
        margin-top: 35px;
    }

    #waterpark_hours_link.span4 {
        background: url("/wp-content/themes/smokies/images/waterparkhrs_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
        text-indent: 4%;
        width: 33%;
    }

    #faq_link.span4, #attraction_hours_link.span4 {
        background: url("/wp-content/themes/smokies/images/faq_home_icon.png") no-repeat scroll 15% center rgba(0, 0, 0, 0);
        text-indent: -2%;
        width: 33%;
    }

    #photos_link.span4 {
        background: url("/wp-content/themes/smokies/images/photos_home_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
        text-indent: 3%;
        width: 33%;
    }

    #af_faq_link.span4 {
        background: url("/wp-content/themes/smokies/images/af_faq_home_icon.png") no-repeat scroll 20px center rgba(0, 0, 0, 0);
        text-indent: 4%;
        width: 33%;
    }

    #attraction_hours_link.span4 {
        background: url("/wp-content/themes/smokies/images/attractionhrs_icon.png") no-repeat scroll 20px center rgba(0, 0, 0, 0);
        text-indent: 4%;
        width: 33%;;
    }

    #af_photos_link.span4 {
        background: url("/wp-content/themes/smokies/images/af_photos_home_icon.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
        text-indent: 4%;
        width: 33%;
    }

    .hub_link a {
        color: #4C4C4C;
        font-size: 1.5em;
        line-height: 1em;
        text-decoration: none;
    }

    .mcForm {
        font-size: 1.1em;
        width: 100%;
    }

    .mcForm input[type="text"] {
        width: 80% !important;
    }

    #signup_lead {
        font-size: 2em !important;
        margin-bottom: -30px;
        margin-top: 15px;
        text-align: left;
        padding: 0;
    }

    #home_last_col {
        margin: 0 auto;
        text-align: center;
    }

    #gift_card.home {
        margin-top: 50px;
        width: 100px;
        margin: 0 auto;
    }

    #home_last_col img {
        float: left;
        height: auto;
        margin: 0;
        padding: 0;
        width: 30%;
    }

    #footer #gift_card {
        padding-left: 0;
        padding-top: 100px;
        height: 70px;
    }

    #footer {
        padding: 40px 5% 20px;
    }

    .footercol {
        width: 33%;
    }

    .footercol img {
        width: 75%
    }

    #gift_card span {
        color: #006FB8;
        display: block;
        font-size: 2em;
        font-weight: 600;
        text-align: left;
    }

    #footer.cf.af_footer {
        padding: 40px 5% 20px;
    }

    #gift_card a {
        text-align: left;
    }

    .fb-update {
        margin-bottom: 15px;
    }

    #footer-menu.span9 {
        width: 100%;
    }

    #footer-menu li {
        display: inline-block;
        margin: 0 10px 0 0;
    }

    #footer-menu a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: .75em;
    }

    .waterpark_wrap {
        margin-bottom: 5px;
        padding-left: 3%;
        padding-top: 5px;
    }

    .colDarkBox a.view_more, .special a.view_more, .package a.view_more {
        left: auto;
        position: absolute;
        right: 15px;
    }

    #resWidgetTop, #resWidgetTop.fixed, #resWidgetTopAf {

        background: transparent;
        z-index: 9 !important;

    }

    #resResponsive {
        display: block !important;
        height: 70px !important;
        background-color: #FFF;
        border-bottom: 1px solid #D6D6D6;
        top: 50px !important;
        padding: 10px;
    }

    #resResponsive .span6 {
        width: 47.84% !important;
    }

    #resResponsive .col {
        margin-left: 1.5% !important;
    }

    .res_btn {
        background: #272F34;
        text-align: center;
        padding: 10px;
        font-weight:;
        font-size: 1.5em;
    }

    .fixed {
        position: static !important;
    }

    .res_btn a {
        background: #272F34;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

    #resWidgetTop {
        top: 5px !important;
    }

    #resForm {
        display: none;
    }

}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// PHONE */

@media screen and (max-width: 568px) {

    .play_btn {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        width: 80px;
        margin: 0 auto;
        top: 10%;
        pointer-events: none;
    }

    #container.inner.max h3, #container.inner.max h1, #container.inner.max p {
        padding: 2.5% !important;

    }

    #container.inner.max {

    }

    .book_now_btn {
        border-bottom: 1px #FFFFFF solid;
    }

    #amenities_wrap {

        margin: 0;
    }

    #amenities_wrap #container.light.shadow.inner.max.cf {
        padding: 10px;
        box-shadow: none;
    }

    #resResponsive {
        display: block !important;
        height: 70px !important;
        background-color: #FFF;
        border-bottom: 1px solid #D6D6D6;
        top: 50px !important;
        padding: 10px;
    }

    #resResponsive .span6 {
        width: 47.84% !important;
    }

    #resResponsive .col {
        margin-left: 1.5% !important;
    }

    .res_btn {
        background: #272F34;
        text-align: center;
        padding: 10px;
        font-weight:;
        font-size: 1.5em;
    }

    .fixed {
        position: static !important;
    }

    .res_btn a {
        background: #272F34;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

    #header {
        background: transparent;
        height: 0 !important;
    }

    #logo-mobile {
        position: absolute !important;
        background: url("/wp-content/themes/smokies/images/fixed_logo.png") center center no-repeat;
        left: 0 !important;
        right: 0 !important;
        top: 3px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 178px !important;
        width: 178px !important;
        width: 178px !important;
        height: 44px !important;
        z-index: 200 !important;

    }

    #ch {
        margin: 35px 0;
    }

    #home_content h1 {
        font-size: 1.9em !important;
    }

    #home_content h3 {
        font-size: 1.7em !important;
    }

    #home_last_col h4 {
        font-size: 1.7em !important;
    }

    #home_content.span6 {
        width: 100% !important;
        padding: 0;
    }

    #home_content {
        border: none;
    }

    #home_featured_special.span6 {
        width: 100% !important;
        padding: 0;
    }

    #home_last_col img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    #megaMenuToggle.megaMenuToggle span {
        display: none !important;
    }

    img.fb_pic {
        width: 30px;
        height: auto;
    }

    #gift_card.home span {
        font-size: 1.6em !important;
        padding-top: 20px;
    }

    #gift_card.home {
        font-size: 0.8em !important;
    }

    #megaMenuToggle.megaMenuToggle {
        background: url(/wp-content/themes/smokies/images/hamandcheese.png) no-repeat !important;
        width: 40px;
        float: right;
        right: 0;
        position: fixed;
        top: 5px;
    }

    #footer img {
        max-width: 200px !important;
    }

    #footer #gift_card {
        margin: 0 auto;
        width: 130px;
    }

    #specialsFilter label {
        display: none;
    }

    .select-wrapper {
    }

    .specials_content {
        margin-bottom: 2.5%;
    }

    .special, .package, .waterpark, .colDarkBox {
        margin-top: 2.5% !important;
    }

    .span9, .span3, .span6, #container, .span4, .span2, .span7, .span5 {
        width: 100%;
        margin: 0;
    }

    #sidebar, {
        display: none;
    }

    #room_filters {
        margin: 0 !important;
        padding: 0 !important;
        left: 0 !important;
        background: transparent;
    }

    #room_filters .span1 {
        width: 100%;
    }

    #room_filters .span1 label, #room_filters .span3 label {
        width: 90% !important;
        clear: both !important;
        display: block !important;
        margin: 1px 0 !important;
        padding: 15px !important;
    }

    #handicap.span1 label {
        width: 100%;
        background-color: #272F34 !important;
        float: none !important;
        clear: both !important;
    }

    #handicap.span1.col {
        margin: 0 !important;
    }

    #container {
        padding: 0;
        margin: 0;
    }

    #rooms_containter {
        padding-top: 20px;
    }

    #nav {

        display: none;

    }

    #homeSlider {
        position: relative;
        top: 85px !important;
    }

    #homeSec1 {
        margin-top: 25px;
    }

    .hub_link {
        display: none;
    }

    #signup_lead {
        height: 25px;
        text-align: left;
        padding: 0;
        font-size: 1.5em !important;
    }

    .mcForm input[type="text"] {
        width: 65% !important;
    }

    .mcForm input[type="submit"], input[type="button"] {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        width: 25% !important;
    }

    #signup_hub .span8, #signup_hub .span6 {
        width: 100% !important;
    }

    #signup_hub {
        background-color: transparent;
        display: none;
    }

    #landing #signup_hub {
        background-color: transparent;
        margin-top: 90px;
        display: block;
    }

    #weather, .slideTxt, #bread_crumbs, .esp, #sidebar, .logo, #resForm, #header_socials {
        display: none !important;
    }

    #resWidgetTop, #resWidgetTop.fixed, #resWidgetTopAf {

        background: transparent;
        z-index: 9 !important;

    }

    #resWidgetTop, #resWidgetTopAf {
        top: 5px !important;
    }

    #loadingDiv {
        background: #fff url(/wp-content/themes/smokies/images/wilder_loader_bg.png) center 20px no-repeat;
        position: fixed;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 21;
        margin: 0 auto;
        padding: 10px;
        width: 173px;
        height: 104px;
        border: 1px solid #F2F2F2;
        box-shadow: 0 0 3px 0 #9f9f9f;
        border-radius: 5px;
    }

    #header #logo, #header #logo.fixed {
        display: none !important;
    }

}

.fancybox-close {
    background: #006FB8 url('/wp-content/themes/smokies/images/close.png') no-repeat center center;
    padding: 10px 5px;
}

#checkusout {
    margin-top: 20px;
}

#checkusout a {
    border: 0;
    text-decoration: none;
    color: #fff;
}

.homeSchool ul, .homeSchool li {
    list-style-type: disc;
    list-style-position: inside;

}

/* Custom Breakpoints */

@media screen and (max-width: px) {

    /* Add your styles for devices with a maximum width of  */

}

.colDarkBox .waterpark_text p{
    color: #fff;
}

.data-incident{
    margin-top: 40px;
    width: 200px;
    display: block;
}

.data-incident a{
    color: #cb3632 ;
    font-weight: 500;
    text-decoration: none;
}

.data-incident img{
    float: left;
    margin-top: -6px;
    margin-right: 10px;
}

table{
    width: 100%;
}

ol{
    margin: 0 2rem;
}


/* WooCommerce customizations */

.woocommerce button.button.alt {
    background-color: #006FB8 !important;
}
.woocommerce a.button.alt {
    background-color: #006FB8 !important;
}
.woocommerce-message::before {
    color: #006FB8 !important;
}
.woocommerce div.product p.price {
    color: #006FB8 !important;
}
.woocommerce div.product span.price {
    color: #006FB8 !important;
}
.woocommerce div.product .stock {
    color: #006FB8 !important;
}
.woocommerce-message {
    border-top-color: #006FB8 !important;
}
.loading {
    margin-left: 1rem;
}
.ticket-datepicker {
    margin-left: 1rem;
    font-size: 1.5em;
    border-color: rgba(0, 111, 184, 0.5);
}
.ticket-product-result > * {
    float: left;
}
.ticket-product-result {
    width: 70%;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid #006FB8;
    background-color: rgba(0, 111, 184, 0.2);
    margin: 1rem;
    padding: 1rem;
    transition: opacity 0.3s;
}
@media (max-width: 640px) {
    .ticket-product-result {
        width: 90%;
        margin: 1rem 0;
    }
}
.ticket-product-result.show-result {
    opacity: 1;
}
.ticket-product-result .ticket-title {
    font-weight: 700;
}
.ticket-product-result form {
    display: flex;
    align-items: center;
}
.ticket-product-result form > * {
    float: left;
    padding-left: 1rem;
}
.ticket-product-result .quantity {
    position: relative;
}
.ticket-product-result .quantity-warning {
    position: absolute;
    width: 6rem;
    right: -3000px;
    z-index: 2;
    transition: opacity 0.3s;
    opacity: 0;
    background-color: #fefefe;
    border: 1px solid red;
    color: red;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
}
.ticket-product-result .quantity-warning.show-warning {
    opacity: 1;
    right: -8rem;
}

/**
HIDE BARCODE FROM CHECKOUT PAGE
 */
#barcode_container {
    display: none;
}
#barcode-scan-form {
    display: flex;
    background-color: #006FB8;
    padding: 2rem;
}
#barcode-scan-form input {
    font-size: 1.2em;
}
#barcode-scan-form select {
    font-size: 1.2em;
}
#barcode-scan-result {
    margin: 1rem;
}